# Environments
.env*
.venv
venv/
.venv/*
.archive
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# Expo
.expo/
*/.expo
.expo/*

# Node Modules
node_modules/

# macOS
.DS_Store

__pycache__
